@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  /* nav related styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
    align-items:baseline ;
  }
  .nav-info{
    display: flex;
    font-size: 1rem;
    font-weight: 600; 
  }
  .nav-left{
  font-size: 1.8rem;
  font-weight: 700;
  }
  .nav-info li{
    list-style-type: none;
    padding : 20px
    
  }
 
  .nav-info li a{
    color: black;
    text-decoration: none;
  }
  .nav-info li a:hover{
    cursor: pointer;
   
  }
  .button{
    padding: 10px 24px 10px 24px;
    background-color: rgb(224, 44, 109);
    color: white;
    margin-top: 20px;
    border-radius: 41px;
    border: none;
  }
  /* header */
  .header{
    display: flex;
    margin: 0 80px;
   
  }
  .header-info{
    flex-direction: column;
   
  }
.header-pic{
  position: relative;
  transform:translateX(200px);
}
.image1{
  position: absolute;
   z-index: 2;
}
.image2{
  position: absolute;
  z-index: 1;
  
}
.header-info1{
  font-size: 3.8rem;
  font-weight: 700;
}
.header-info2{
  font-size: 1rem;
  font-weight: 600;
}
/* sponsor */
.sponsor-container{
  margin-top: 270px;
  display: flex;
  justify-content: space-around;
 padding:  0px 120px;
}
/* popular collection */
#popular-collection{
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(58, 58, 58);
  text-align: center;
  
}
.popular-collection{
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap: 40px;
  margin: 100px 100px;
  justify-content: baseline;
  align-items: center;
}

 .popular-collection-9:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
 .popular-collection-1:hover{
  cursor: pointer;
  background-color:  whitesmoke;
  
}
 .popular-collection-2:hover{
  cursor: pointer;
  background-color:  whitesmoke;
}
 .popular-collection-3:hover{
  cursor: pointer;
  background-color:  whitesmoke;
}
 .popular-collection-4:hover{
  cursor: pointer;
  background-color:  whitesmoke;
}
 .popular-collection-5:hover{
  cursor: pointer;
  background-color:  whitesmoke;
}
 .popular-collection-6:hover{
  cursor: pointer;
  background-color:  whitesmoke;
}
 .popular-collection-7:hover{
  cursor: pointer;
  background-color:  whitesmoke;
}
 .popular-collection-8:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
.popular-collection-1{
  padding: 60px;
  
  
}
.popular-collection-4{
  padding: 60px;
  
}
.popular-collection-7{
  padding: 60px;
  
}
.popular-collection-1{box-shadow:  8px 16px 19px 12px  rgba(0, 0, 0, 0.15);
                          }
.popular-collection-2{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);padding: 60px;}
.popular-collection-3{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);padding: 60px;}
.popular-collection-4{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);}
.popular-collection-5{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);padding: 60px;}
.popular-collection-6{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);padding: 60px;}
.popular-collection-7{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);}
.popular-collection-8{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);padding: 60px;}
.popular-collection-9{box-shadow:  8px 16px 19px 12px rgba(0, 0, 0, 0.15);padding: 60px;}
/* footer */
.footer{
background-color:rgb(10, 8, 38);
color: white;
text-align: center;
margin:auto 0px;
padding: 40px;
}